.products-page {
    display: flex;
    padding: 40px;
    max-width: 100vw;
}
  
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 90%;
}
  
.product-card {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
  


.view-more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more-btn{
    background-color: darkgreen;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px 35px;
    margin-bottom: 20px;
    font-weight: bold;
}